@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');


html,
body,
#root {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --main-yellow: #E87524;
    --main-grey: #475569;
    --cardboard: #F5F5F5;
    --border: #D9D9D9;
}

.background {
    background-image: url("../assets/background.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
    max-width: 300px;
    padding: 10px;
    margin: 50px;

    background-color: var(--cardboard);
    border-radius: 8px;
    font-size: 16px;
    color: var(--main-grey);
    font-family: 'Inter';
}

.logo-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.logo-img {
    width: 15%;
    height: auto;
}

.signup {
    min-width: 70%;
}

.create-account {
    font-size: 32px;
    color: #4D7C0F;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Poppins';
}

.input-label {
    color: var(--main-grey);
    border: var(--main-grey) 2px;
    display: block;
    text-align: left;
}

.input-box {
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    border: 2px solid var(--border);
    background-color: whitesmoke;
    color: var(--main-grey);
    border-radius: 5px;
    box-sizing: border-box;
}

.message {
    display: block;
    font-size: 13px;
    margin-bottom: 14px;
    line-height: 1.3;
}

.message .link {
    color: #E87524;
    text-decoration: underline;
}

.signup-btn {
    background-color: #E87524;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 5px;
    border: var(--border) 2px;
    text-align: center;
    font-size: 18px;
    width: 100%;
    padding: 12px;
    margin: 8px 0 18px 0;
    cursor: pointer;
    margin-bottom: 40px;
}

.already-account {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0;
    color: var(--main-grey);
    font-weight: 500;
}

.already-account .text {
    font-style: italic;
}

.already-account::before,
.already-account::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--border);
}

.already-account::before {
    margin-right: 20px;
}

.already-account::after {
    margin-left: 20px;
}

.log-in {
    background-color: transparent;
    color: #4D7C0F;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #4D7C0F;
    text-align: center;
    width: 100%;
    padding: 12px;
    margin-bottom: 50px;
    cursor: pointer;
}

.error {
    color: #c55252;
    font-size: 16px;
    margin-top: 4px;
    font-weight: bold;
}